body {
  margin: 20px;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  margin: -20px;
}
